In [1]:
# importing important libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#importing the dataset
df=pd.read_csv('Downloads\\dataset and all\\training_set_features.csv')
test_df=pd.read_csv('Downloads\\dataset and all\\test_set_features.csv')
y=pd.read_csv('Downloads\\dataset and all\\training_set_labels.csv')

In [3]:
df_ob2=df.iloc[:,0:22]
df_ob2.drop(['health_insurance'], axis=1, inplace=True)

In [4]:
## feature engineering / Handling categorical values ------
from sklearn.preprocessing import OneHotEncoder
df_ob1=df.iloc[:,22:31]
df_ob1=df_ob1.drop(['income_poverty','hhs_geo_region','education'],axis=1)
df_ob1['sex']=df_ob1['sex'].map({'Female':0, 'Male':1})
df_ob1['marital_status']=df_ob1['marital_status'].map({'Not Married':0, 'Married':1})
df_ob1['rent_or_own']=df_ob1['rent_or_own'].map({'Rent':0, 'Own':1})

## encoding for race column 
encoder = OneHotEncoder(categories='auto', sparse=False)
data_encoded = encoder.fit_transform(df_ob1[['race']])
categories = encoder.categories_[0]
encoded_df = pd.DataFrame(data_encoded, columns=categories)
df_ob1 = pd.concat([df_ob1, encoded_df], axis=1)
df_ob1=df_ob1.drop(['race'], axis=1)

##encoding for age_group column 
data_encoded_1 = encoder.fit_transform(df_ob1[['age_group']])
categories_1 = encoder.categories_[0]
encoded_df_1= pd.DataFrame(data_encoded_1, columns=categories_1)
df_ob1 = pd.concat([df_ob1, encoded_df_1], axis=1)
df_ob1=df_ob1.drop(['age_group'], axis=1)

##encoding for  employment_status 
data_encoded_2 = encoder.fit_transform(df_ob1[['employment_status']])
categories_2 = encoder.categories_[0]
encoded_df_2= pd.DataFrame(data_encoded_2, columns=categories_2)
df_ob1 = pd.concat([df_ob1, encoded_df_2], axis=1)
df_ob1=df_ob1.drop(['employment_status','Other or Multiple'], axis=1)
last_index=df_ob1.columns[-1]
df_ob1.drop([last_index], axis=1,inplace=True)
df_ob1

C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,65+ Years,Employed,Not in Labor Force,Unemployed
0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
26703,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26704,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
26705,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26706,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [5]:
##--a function to find number of null values in each feature 
def null_values(data):
    feature_name=[]
    null_values=[]
    for feature in data.columns:
        a=data[feature].isna().sum()
        print(' {}- null values: {}'.format(feature,a))

In [6]:
## checking for missing values in final concatenated dataframe 
df_fi=pd.concat([df_ob1,df_ob2],axis=1)

null_values(df_fi)

 sex- null values: 0
 marital_status- null values: 1408
 rent_or_own- null values: 2042
 Black- null values: 0
 Hispanic- null values: 0
 White- null values: 0
 18 - 34 Years- null values: 0
 35 - 44 Years- null values: 0
 45 - 54 Years- null values: 0
 55 - 64 Years- null values: 0
 65+ Years- null values: 0
 Employed- null values: 0
 Not in Labor Force- null values: 0
 Unemployed- null values: 0
 respondent_id- null values: 0
 xyz_concern- null values: 92
 xyz_knowledge- null values: 116
 behavioral_antiviral_meds- null values: 71
 behavioral_avoidance- null values: 208
 behavioral_face_mask- null values: 19
 behavioral_wash_hands- null values: 42
 behavioral_large_gatherings- null values: 87
 behavioral_outside_home- null values: 82
 behavioral_touch_face- null values: 128
 doctor_recc_xyz- null values: 2160
 doctor_recc_seasonal- null values: 2160
 chronic_med_condition- null values: 971
 child_under_6_months- null values: 820
 health_worker- null values: 804
 opinion_xyz_vacc_effective- null values: 391
 opinion_xyz_risk- null values: 388
 opinion_xyz_sick_from_vacc- null values: 395
 opinion_seas_vacc_effective- null values: 462
 opinion_seas_risk- null values: 514
 opinion_seas_sick_from_vacc- null values: 537

In [7]:
##  Handling missing/nan values in all columns----
def replace_miss_val(data):
    for feature in data.columns:
        data[feature]=data[feature].fillna(data[feature].mode()[0])
    return data

In [8]:
##-- replacing the missing values with mode value of each column 
X=replace_miss_val(df_fi)
X=X.drop(X.columns[-2:], axis=1)

X.drop(columns=['respondent_id'], inplace=True)
y.drop(columns=['respondent_id'], inplace=True)

In [9]:
## now we have data with zero nan and missing values 
X.head()

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0
2,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0
3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0
4,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0

In [10]:
## This is output data 
y.head()

   xyz_vaccine  seasonal_vaccine
0            0                 0
1            0                 1
2            0                 0
3            0                 1
4            0                 0

In [11]:
##--performing normalization 
column_names=X.columns
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

new=scaler.fit_transform(X)
X=pd.DataFrame(new, columns=column_names)
X
#X.columns = X.columns.astype(str)
#y.columns = y.columns.astype(str)

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.50,0.00,0.25,0.25
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.00,0.75,0.75,0.75
2,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.50,0.00,0.00,0.75
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.50,0.50,1.00,1.00
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.50,0.50,0.25,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.00,0.00,1.00
26703,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.75,0.25,0.25,1.00
26704,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.75,0.75,0.25,1.00
26705,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.50,0.00,0.25,0.25
26706,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.00,0.00,0.00,1.00

In [12]:
#performing train test split 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
## model builing 
from sklearn.naive_bayes import BernoulliNB,GaussianNB
bnb=BernoulliNB()
gnb=GaussianNB()
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(max_iter=30000)


from sklearn.metrics import roc_auc_score

In [14]:
##--y test and train for xyz vaccine 
y_train_1= y_train.drop(['seasonal_vaccine'], axis=1)
y_test_1 = y_test.drop(['seasonal_vaccine'], axis=1)

##--y test and train for seasonal vaccine 
y_train_2= y_train.drop(['xyz_vaccine'], axis=1)
y_test_2 = y_test.drop(['xyz_vaccine'], axis=1)

#X.columns = X.columns.astype(str)
#y.columns = y.columns.astype(str)
#X_test.columns = X_test.columns.astype(str)
#y_test.columns = y_test.columns.astype(str)
X_train

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
24706,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.00,0.75,0.25,0.75
5393,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.00,0.75,0.75,1.00
20898,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.25,0.00,0.00
3429,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.75,0.25,0.00,0.75
8731,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.25,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.75,0.25,0.25,0.75
5390,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.75,0.25,0.00,0.75
860,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.75,0.25,0.25,0.75
15795,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.00,0.00,0.75,0.00
23654,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.75,0.25,0.75,1.00

In [15]:
##--Testing Logistic Regression 
log_reg_out_1=log_reg.fit(X_train,np.ravel(y_train_1))
log_reg_out_2=log_reg.fit(X_train,np.ravel(y_train_2))
log_reg_out_1_pred=log_reg_out_1.predict(X_test)
log_reg_out_2_pred=log_reg_out_2.predict(X_test)
roc_auc_score_1=roc_auc_score(y_test_1,log_reg_out_1_pred)
roc_auc_score_2=roc_auc_score(y_test_2,log_reg_out_2_pred)
print('roc auc score for xyz_vaccine {}'.format(roc_auc_score_1))
print('roc auc score for seasonal_vaccine {}'.format(roc_auc_score_2))

roc auc score for xyz_vaccine 0.6485294859188665
roc auc score for seasonal_vaccine 0.7602690351081827

In [16]:
##--Testing Bernoulli Naive Bayes
bnb_out_1=bnb.fit(X_train,np.ravel(y_train_1))
bnb_out_2=bnb.fit(X_train,np.ravel(y_train_2))
bnb_out_1_pred=bnb_out_1.predict(X_test)
bnb_out_2_pred=bnb_out_2.predict(X_test)
roc_auc_score_1=roc_auc_score(y_test_1,bnb_out_1_pred)
roc_auc_score_2=roc_auc_score(y_test_2,bnb_out_2_pred)
print('roc auc score for xyz_vaccine {}'.format(roc_auc_score_1))
print('roc auc score for seasonal_vaccine {}'.format(roc_auc_score_2))

roc auc score for xyz_vaccine 0.6337337905184512
roc auc score for seasonal_vaccine 0.7065605903378299

In [17]:
##--Testing Gaussain Naive Bayes
gnb_out_1=gnb.fit(X_train,np.ravel(y_train_1))
gnb_out_2=gnb.fit(X_train,np.ravel(y_train_2))
gnb_out_1_pred=gnb_out_1.predict(X_test)
gnb_out_2_pred=gnb_out_2.predict(X_test)
roc_auc_score_1=roc_auc_score(y_test_1,gnb_out_1_pred)
roc_auc_score_2=roc_auc_score(y_test_2,gnb_out_2_pred)
print('roc auc score for xyz_vaccine {}'.format(roc_auc_score_1))
print('roc auc score for seasonal_vaccine {}'.format(roc_auc_score_2))

roc auc score for xyz_vaccine 0.6505918614325693
roc auc score for seasonal_vaccine 0.7262157025538676

 ---After observing all these roc auc score i would like to go with Logistic Regression 
 ---I will perform hyperparameter tuning to impove roc auc score

In [18]:
## --hyperparameter tuning finding the best parameters and best roc auc score 
from sklearn.model_selection import GridSearchCV
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2','elasticnet'],
    'solver': ['liblinear', 'saga']}
grid_search = GridSearchCV(estimator=log_reg, param_grid=param_grid, scoring='roc_auc', cv=5, verbose=1, n_jobs=-1)
##--grid_search.fit(X_train, np.ravel(y_train))

In [19]:
##--new model for xyz_vaccine prediction 
log_reg_a=LogisticRegression(C=1, penalty='l2', solver='liblinear')

## --new model for seasonal_vaccine prediction 
log_reg_b=LogisticRegression(C=0.1, penalty ='l1', solver='saga')

In [20]:
##--Testing Logistic Regression with new models 
log_reg_a_out_1=log_reg_a.fit(X_train,np.ravel(y_train_1))
log_reg_b_out_2=log_reg_b.fit(X_train,np.ravel(y_train_2))
log_reg_a_out_1_pred=log_reg_a_out_1.predict(X_test)
log_reg_b_out_2_pred=log_reg_b_out_2.predict(X_test)
roc_auc_score_a_1=roc_auc_score(y_test_1,log_reg_a_out_1_pred)
roc_auc_score_b_2=roc_auc_score(y_test_2,log_reg_b_out_2_pred)
print('roc auc score for xyz_vaccine {}'.format(roc_auc_score_a_1))
print('roc auc score for seasonal_vaccine {}'.format(roc_auc_score_b_2))

roc auc score for xyz_vaccine 0.6845466807856189
roc auc score for seasonal_vaccine 0.7597678948765574

# Now I will train the two models with given training data  
inputs: X and output: y

In [21]:
X.head()

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.5,0.00,0.25,0.25
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.75,0.75,0.75
2,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.5,0.00,0.00,0.75
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.50,1.00,1.00
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.5,0.50,0.25,0.50

In [22]:
y.head()

   xyz_vaccine  seasonal_vaccine
0            0                 0
1            0                 1
2            0                 0
3            0                 1
4            0                 0

In [23]:

##--y test and train for xyz vaccine 
y_train_final_1= y.drop(['seasonal_vaccine'], axis=1)


##--y test and train for seasonal vaccine 
y_train_final_2= y.drop(['xyz_vaccine'], axis=1)

In [24]:
##-- I have applied Logistic Regression algorithm , it is given 0.0.68 roc auc score  
##-- I have already found the performance using test and training data by performing train test split
##-- I have choosen model with the best roc auc score 

model1=log_reg_a.fit(X, np.ravel(y_train_final_1))

In [25]:
##-- I have applied Logistic Regression algorithm , it is given 0.759 roc auc score  

model2=log_reg.fit(X, np.ravel(y_train_final_2))

In [26]:
##--this is the test data given in the problem ---
test_df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

 Feature engineering of test data given

In [27]:
## feature engineering / Handling categorical values ------
from sklearn.preprocessing import OneHotEncoder
test_df_ob1=test_df.iloc[:,22:31]
test_df_ob1=test_df_ob1.drop(['income_poverty','hhs_geo_region','education'],axis=1)
test_df_ob1['sex']=test_df_ob1['sex'].map({'Female':0, 'Male':1})
test_df_ob1['marital_status']=test_df_ob1['marital_status'].map({'Not Married':0, 'Married':1})
test_df_ob1['rent_or_own']=test_df_ob1['rent_or_own'].map({'Rent':0, 'Own':1})

## encoding of race column 
encoder_test = OneHotEncoder(categories='auto', sparse=False)
data_encoded_test = encoder_test.fit_transform(test_df_ob1[['race']])
categories_test = encoder_test.categories_[0]
encoded_df_test = pd.DataFrame(data_encoded_test, columns=categories_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_test], axis=1)
##encoding for age_group column 

data_encoded_1_test = encoder_test.fit_transform(test_df_ob1[['age_group']])
categories_1_test = encoder_test.categories_[0]
encoded_df_1_test= pd.DataFrame(data_encoded_1_test, columns=categories_1_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_1_test], axis=1)
test_df_ob1=test_df_ob1.drop(['age_group'], axis=1)
test_df_ob1=test_df_ob1.drop(['race'], axis=1)
test_data=replace_miss_val(test_df_ob1)
##encoding for  employment_status 

data_encoded_2_test = encoder_test.fit_transform(test_df_ob1[['employment_status']])
categories_2_test = encoder_test.categories_[0]
encoded_df_2_test= pd.DataFrame(data_encoded_2_test, columns=categories_2_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_2_test], axis=1)
test_df_ob1=test_df_ob1.drop(['employment_status','Other or Multiple'], axis=1)
#last_index=test_df_ob1.columns[-1]
#test_df_ob1.drop([last_index],axis=1, inplace=True)
test_df_ob1.head()

C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,65+ Years,Employed,Not in Labor Force,Unemployed
0,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
test_df_ob2=test_df.iloc[:,0:22]
test_df_ob2.drop(['health_insurance'], axis=1, inplace=True)
df_fi_out=pd.concat([test_df_ob1,test_df_ob2],axis=1)

In [29]:
## replacing the missing values with mode values in each column 
df_fi_out=replace_miss_val(df_fi_out)
df_fi_out.columns = df_fi_out.columns.astype(str)
res_pon=df_fi_out['respondent_id']
respondent_id=pd.DataFrame(res_pon).rename(columns={0:'respondent_id'})
df_fi_out=df_fi_out.drop(['opinion_seas_risk','opinion_seas_sick_from_vacc','respondent_id'],axis=1)

In [30]:
##--performing normalization 
column_names_test=df_fi_out.columns
from sklearn.preprocessing import MinMaxScaler
scaler_test = MinMaxScaler()

new=scaler_test.fit_transform(df_fi_out)
df_fi_out=pd.DataFrame(new, columns=column_names_test)
df_fi_out.head()

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.00,0.00,0.00,1.00
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.75,0.00,0.00,0.75
2,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.00,0.75,0.25,1.00
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.75,0.25,0.25,0.75
4,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.00,0.25,0.75,0.75

In [31]:
y_pred=model1.predict(df_fi_out)
xyz_vaccine_pred=pd.DataFrame(y_pred).rename(columns={0:'xyz_vaccine_pred'})
y_pred_1=model2.predict(df_fi_out)
seasonal_vaccine_pred=pd.DataFrame(y_pred_1).rename(columns={0:'seasonal_vaccine_pred'})

In [32]:
final_data=pd.concat([respondent_id,xyz_vaccine_pred,seasonal_vaccine_pred], axis=1)
#final_data=final_data.reset_index().rename(columns={'index':'repondent_id'})

In [33]:
final_data

       respondent_id  xyz_vaccine_pred  seasonal_vaccine_pred
0              26707                 0                      0
1              26708                 0                      0
2              26709                 0                      1
3              26710                 0                      1
4              26711                 0                      0
...              ...               ...                    ...
26703          53410                 0                      1
26704          53411                 0                      0
26705          53412                 0                      0
26706          53413                 0                      0
26707          53414                 0                      0

[26708 rows x 3 columns]

In [34]:
##-- It is the final prediction of test data in the problem statement 
final_data.to_csv('Downloads\\final.csv',index=False)